/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* CSS Variables for Theme */
:root {
    --primary-color: #333;
    --secondary-color: #555;
    --highlight-color: #007bff;
    --background-color: #f4f4f4;
    --text-color: var(--primary-color);
    --link-color: var(--highlight-color);
}

/* Global Styles */
a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color:slategrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: 50px;
    height: 50px;
}

nav a {
    margin-left: 1rem;
}

/* Main Content Styles */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 5%;
}

/* Footer Styles */
footer {
    padding: 1rem 5%;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 0.5rem 0;
    }
}
.navbar{
    position: relative;
    left: 6px;
 }
.navbar a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:seashell;
}
.navbar a:hover{
    font-size: 22px;
    color: crimsons;
}
.social-icons {
   position: relative;
   left: 12px;
}
.social-icons a img{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 4px;
}
.main-content,.f1{
    margin: 0px 30px;
    border-radius: 10px;
    background-color: gainsboro;
}
td button{
    background-color:sandybrown;
    height: 25px;
    width: 80px;

}
tr th, tr td{
    text-align: center;
}
